<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <section>
      <header>
        <h2>Links</h2>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/signin">Sign In</a>
          </li>
          <li>
            <a href="/signup">Sign Up</a>
          </li>
        </ul>
      </header>
    </section>

    <section>
      <h2>List Of Users</h2>
      <table border="1">
        <thead>
          <tr>
            <th>Sr No.</th>
            <th>Username</th>
            <th>Created Timestamp</th>
          </tr>
        </thead>
      </table>
    </section>
  </body>
</html>
