<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <section>
      <header>
        <h2>Links</h2>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/signin">Sign In</a>
          </li>
          <li>
            <a href="/signup">Sign Up</a>
          </li>
        </ul>
      </header>
    </section>
    <section>
      <h2>User Sign Up Page</h2>
      <form action="">
        <table>
          <tbody>
            <tr>
              <td><label for="username">Username</label></td>
              <td><input type="text" name="username" id="username" /></td>
            </tr>
            <tr>
              <td><label for="password">Password</label></td>
              <td><input type="password" name="password" id="password" /></td>
            </tr>
            <tr>
              <td><label for="confirm_password">Confirm Password</label></td>
              <td>
                <input
                  type="password"
                  name="confirm_password"
                  id="confirm_password"
                />
              </td>
            </tr>
            <tr>
              <td><button type="button">Sign Up</button></td>
            </tr>
          </tbody>
        </table>
      </form>
    </section>
  </body>
</html>
